parameters:
    tagcache.factory.class:          RickySu\TagcacheBundle\TagcacheFactory
    tagcache.adapter.class:          RickySu\TagcacheBundle\Tagcache\TagcacheAdapter
    tagcache.cache_clearer.class:   RickySu\TagcacheBundle\TagcacheCacheClearer
services:
        tagcache_cache_clearer:
            class:                  %tagcache.cache_clearer.class%
            tags:
                 -                  { name: kernel.cache_clearer }
            arguments:             ['@service_container',%tagcache%]
        tagcache:
            class:                  %tagcache.adapter.class%
            factory_class:         %tagcache.factory.class%
            factory_method:        getInstance
            arguments:
                -                  %tagcache%
        action_cache_listener_service:
            class:                 RickySu\TagcacheBundle\EventListener\ActionCacheListener
            arguments:             ['@service_container','@controller_resolver',%tagcache%]
            tags:
                 #request lower priority
                 #response higher priority
                                   - { name: kernel.event_listener, event: kernel.request, method: handleRequest  ,priority: -999 }
                                   - { name: kernel.event_listener, event: kernel.response, method: handleResponse  ,priority: 999 }
